---
---

{% include head.html %}
{% include sidebar.html %}
<div class="content-container">
    <div class="archive">
        {% assign year = (site.posts[0].date | date: "%Y" | plus: 0) %}
        <div class="year">
            <h1>{{ year }}</h1>
        </div>
        {% for post in site.posts %}
        {% assign nextyear = (post.date | date: "%Y" | plus: 0) %}
        {% if nextyear != year %}
        <div class="year">
            <h1>{{nextyear}}</h1>
        </div>
        {% endif %}
        {% assign year = nextyear %}
        <div class="archive-list">
            <ul>
                <li>
                    <a href="{{site.env.HYDE_ROOT}}{{ post.url }}">
                        {{ post.title }}
                    </a>
                    <p class="post-date">{{ post.date | date: "%x" }}</p>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>