---
paginate:
    collection: posts
    per_page: 10
    reversed: false
---

{% include head.html %}
{% include sidebar.html %}
<div class="content-container">
    <div class="posts">
        {% for post in paginator.posts %}
        <div class="post-container">
            <h1 class="post-title">
                <a href="{{site.env.HYDE_ROOT}}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            <p>
                {{ post.description | markdownify }}
            </p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{site.env.HYDE_ROOT}}{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
        {% if paginator.next_page %}
        <a href="{{site.env.HYDE_ROOT}}{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next">Next</span>
        {% endif %}
    </div>

</div>
</body>
</html>