<html>
<head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.env.HYDE_ROOT}}stylesheets/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
</head>
<body>