<nav>
    <div class="sidebar">
        <div class="sidebar-about">
            <h1 class="heading">
                Nirbhai
            </h1>
            <p>
                A brazen two-column <span> Jekyll </span>theme that pairs a prominent sidebar with uncomplicated content.
            </p>
        </div>
        <div class="sidebar-nav">
            <a href="/" class="sidebar-nav-item active">Home</a>
            <a href="" class="sidebar-nav-item ">My Blog</a>
            <a href="" class="sidebar-nav-item ">About Us</a>
        </div>
        <p class="copyright"> © 2019. All rights reserved.</p>
    </div>
</nav>