// widescreens
@include mediaXl {

}

// desktops and laptops
@include mediaLg {

}

// tablets and small laptops
@include mediaMd {
  body {
    font-size: 15px;
  }
  nav {
    position: relative;
    height: fit-content;
    height:auto;
    width: 100vw;
    display: block;

    .sidebar {
      display: flex;
      line-height: 1;
      text-align: center;;
      padding: 10px;
      margin: 0px;

      .sidebar-about{
        margin-bottom: 10px;

        .heading{
          font-size: 35px;
          margin: 10px;
        }

        p{
          text-align: center;
          margin: 10px;
        }
      }

      .sidebar-nav{
        font-size: 18px;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .copyright{
        display:none;
    }
  }
  .content-container {
    box-sizing: border-box;
    margin: 0px;
    width: 100vw;
    padding: 0px;
    .posts {
      text-align: justify;
      line-height: 1.5;
      padding: 30px;

      .post-title {
        margin: 5px 0 5px 0;

        a {
         font-size: 22px;
        }
      }
      .message{
        padding: 25px 30px 25px 30px;
      }
      .highlight{
        padding: 18px 25px 18px 28px
      }
    }
    .post-container{
      margin-bottom: 20px !important;
    }
  }
  }


// smartphones
@include mediaSm {
  body {
    font-size: 13px;
  }

  nav {
    .sidebar {
          padding: 8px;

      .sidebar-about{
        margin-bottom: 8px;

        .heading{
          font-size: 30px;
          margin: 8px;
        }

        p{
          margin: 8px;
        }
      }

      .sidebar-nav{
        font-size: 14px;
      }
  }
  }
  .content-container {
    .posts {
      line-height: 1.2;
      padding: 20px;

      .post-title {
        margin: 4px 0 4px 0;

        a {
          font-size: 18px;
        }
      }
      .message{
        padding: 20px 25px 20px 25px;
      }
      blockquote{
        padding:.3rem 3rem .3rem 1rem;
        margin: .6rem 0;
        font-size: 13px;
      }
      .highlight{
        padding: 15px 20px 15px 25px
      }
    }
  }

}
