---
---

@import "./variables.scss";

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $primary-font-color;
  text-align: justify;
}

nav {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background: $light-bg-color;
  display: flex;

  .sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 20px 30px 30px;
    line-height: 1.5;

    .sidebar-about {
      flex: 1;

      .heading {
        color: $heading-color;
        font-size: 45px;
        font-family: "Abril Fatface", serif;
        font-weight: bolder;
      }

      p {
        color: #94949acf;
        text-align: left;

        span {
          color: $link-color;
        }
      }
    }

    .sidebar-nav {
      flex: 1;
      font-size: 20px;
      color: $heading-color;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;


      .sidebar-nav-item {
        line-height: 1.75;
        color: $heading-color;
        text-decoration: none;

        &:hover {
          font-weight: bolder;
          transform: scale(1, 1);
          text-shadow: 1px 1px $heading-color;
        }
      }
    }

    .copyright {
      color: #94949acf;
    }
  }
}

.content-container {
  margin-left: 30vw;
  width: 50vw;
  padding: 60px 10px 50px 10px;
  min-height: 100vh;


  .posts {
    text-align: justify;
    line-height: 28px;

    h1, h2, h3, h4, h5, h6 {
      text-decoration: none;
      font-weight: 700;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 0 1rem;
      border-radius: 5px;
    }

    .highlight {
      @include highlight;
    }

    .message {
      @include highlight;
    }

    blockquote {
      @include blockquote;
    }

    table {
      @include table;
    }

    .post-title {
      margin: 10px 0 10px 0;

      a {
        font-size: 27px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: black;

        &:hover {
          color: #fc404d;
          font-weight: 900;
        }
      }
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        color: darken($link-color, 20%);
        font-weight: 700;

      }

    }

    .post-date {
      color: #f53a3ab5;
      font-size: 14px;
    }

    .post-container {
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }

  // archive
  .archive{
    line-height: 1;
    .year{
      color: #ec6d77;
      margin-top: 20px !important;
    }
    .archive-list{
      ul{
        padding-left: 20px;
        list-style-type: none;
        li{
          a{
            font-size: 20px;
            text-decoration: none;
            color: #ec6d77;
          }
          .post-date{
            margin:auto;
            font-size: 14px;
          }
        }
      }
    }
  }

  //pagination


  .pagination {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;

    a {
      color: #f53a3ab5;
      font-weight: bold;
      font-size: 16px;
      padding: 8px 16px;
      text-decoration: none;
    }
    .previous {
      margin: 0 20px 0 20px;
    }

    .next {
      margin: 0 20px 0 20px;
    }
  }
}



@import "./_mobile.scss";