$primary-font-color: #6d7b89;
$secondary-font-color : black;
$dark-font-color :#303030;
$heading-color :#ea3e4abf;
$light-bg-color :#f5f7f9;
$link-color : #fc404d;

@mixin table {
  border: 1px solid #e5e5e5;
  width: 100%;
  line-height: 30px;
  margin-bottom: 25px;
  tr:nth-child(even){background-color:#fed0d22e}
  th {
    background-color:#fed0d2a3;
    color: $heading-color;
    font-size: 20px;
    text-align: center;
  }
}

@mixin highlight{
  background-color: $light-bg-color;
  margin: 0px;
  padding: 20px 40px 20px 60px;
  overflow-x: auto;
  line-height: 1;
}

@mixin blockquote {
  padding:.5rem 5rem .5rem 1.25rem;
  margin: .8rem 0;
  font-size: 16px;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}


// media query mixins

@mixin mediaSm{
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaMd{
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaLg{
  @media screen and (min-width:769px) and (max-width: 1170px){
    @content;
  }
}


@mixin mediaXl{
  @media screen and (min-width: 1171px){
    @content;
  }
}