{% include head.html %}
{% include sidebar.html %}
<div class="content-container">
    <div class="posts">
        {% for post in site.posts %}
        <div class="post-container">
            <h1 class="post-title">
                <a href="{{site.env.HYDE_ROOT}}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            <p>
                {{ post.description | markdownify }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>