{% include head.html %}
{% include sidebar.html %}
<div class="content-container">
    <div class="posts">
        <div class="post">

            <span class="post-date">{{ page.date | date_to_string }}</span>
            <h1 class="post-title">
                <a href="{{ post.url }}">
                    {{ page.title }}
                </a>
            </h1>

            <div class="post-content">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
</body>
</html>